[gcode_macro LOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=load_state
  G91
  # Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
  {% if params.TEMP is defined or printer.extruder.can_extrude|lower == 'false' %}
  M117 Heating...
  M109 S{params.TEMP|default(220, true)}
  {% endif %}
  SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=0
  M117 Loading filament...
  # Load the filament into the hotend area.
  G92 E0.0
  G91
  G1 E70 F400
  G1 E40 F100
  G90
  G92 E0.0
  M400
  M117 Filament loaded!
  SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
  RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
  # Default ram distance and sequence copied from MK3.5 in https://github.com/prusa3d/Prusa-Firmware-Buddy/include/marlin/Configuration_MK3.5_adv.h
  {% set RAM_DISTANCE = params.RAM_DISTANCE|default(20)|int %}
  SAVE_GCODE_STATE NAME=unload_state
  G91
  {% if params.TEMP is defined or printer.extruder.can_extrude|lower == 'false' %}
    M117 Heating...
    # Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
    M109 S{params.TEMP|default(220, true)}
  {% endif %}
  SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=0
  M117 Unloading filament...
  G92 E0.0                      ; reset extruder distance
  G91                           ; relative positioning
  G1 E{RAM_DISTANCE} F1500      ; ram to build up pressure
  G1 E-50 F2700                 ; fast, long retract to thin the whisp
  G1 E-5 F50                    ; slow retract to break the whisp
  G1 E-50 F1500                 ; move filament past gears
  G92 E0.0                      ; reset extruder distance
  M400                          ; wait for planner to flush
  M117 Remove Filament Now!
  M300 S300 P1000               ; beep
  M117 Filament unloaded!
  RESTORE_GCODE_STATE NAME=unload_state
  SET_FILAMENT_SENSOR SENSOR=fsensor ENABLE=1
