[include mainsail.cfg]
[include macros.cfg]
[include ebb_sb.cfg]
[include KAMP_Settings.cfg]
#[include dummy.cfg]

[mcu]
canbus_uuid: 4abcff8eaa4d # Insert the CANbus-UUID of your Manta from the firmware flashing steps

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 10000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^EBBCan:gpio24
position_min: 0
##--------------------------------------------------------------------

##	Uncomment below for 250mm build
position_endstop: 250
position_max: 250

##	Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 25   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: ^PF3
position_min: 0
##--------------------------------------------------------------------

##	Uncomment for 250mm build
position_endstop: 250
position_max: 250

##	Uncomment for 300mm build
#position_endstop: 300
#position_max: 300

##	Uncomment for 350mm build
#position_endstop: 350
#position_max: 350

##--------------------------------------------------------------------
homing_speed: 25  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PE3
interpolate: True
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4    
microsteps: 32
endstop_pin: probe:z_virtual_endstop # TODO
position_max: 250
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PB9
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear  on Motor5
[stepper_z1]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Front Right on Motor6
[stepper_z2]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
rotation_distance: 4  
microsteps: 32

##	Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PG14
interpolate: true
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 115
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


#####################################################################
# 	Fan Control
#####################################################################


[fan_generic nevermore]
##	Print Cooling Fan - CNC_FAN0
pin: PF8
kick_start_time: 0.5
off_below: 0.10

[controller_fan controller_fan_1]
##	Hotend Fan - CNC_FAN1
pin: PF9
max_power: 0.3
kick_start_time: 0.5
fan_speed: 0.66


[heater_fan controller_fan_2]
##	Controller fan - CNC_FAN2
pin: PF6
kick_start_time: 0.3
heater: heater_bed
heater_temp: 80
fan_speed: 0.66

[fan_generic exhaust_fan]
#	Exhaust fan - CNC_FAN0
pin: PF7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5


#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 3300

[safe_z_home]
home_xy_position: 125,125
speed: 100
z_hop: 10

[z_tilt]
z_positions:
    -50, 18
    125, 298
    300, 18
points:
    30, 5
    125, 195
    220, 5
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075


[bed_mesh]
mesh_min: 10,10
mesh_max: 240,240
probe_count: 3, 3
speed: 120 # default is 50 and is a bit too slow


[exclude_object]


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>


#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    Z_TILT_ADJUST
    G28
    ##	Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##	Uncomment for 250mm build
    G0 X125 Y125 Z30 F3600
    
    ##	Uncomment for 300 build
    #G0 X150 Y150 Z30 F3600
    
    ##	Uncomment for 350mm build
    #G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    # preheat while homing
    M140 S{params.BED}
    M104 S150
    G32                            ; home all axes
    BED_MESH_CALIBRATE ADAPTIVE=1
    G1 Z20 F3000                   ; move nozzle away from bed
    M190 S{params.BED}
    M109 S{params.EXTRUDER}
    LINE_PURGE
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END

    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X125 Y250 F3600            ; park nozzle at rear
    BED_MESH_CLEAR
    
    # The purpose of the SAVE_GCODE_STATE/RESTORE_GCODE_STATE
    # command pair is to restore the printer's coordinate system
    # and speed settings since the commands above change them.
    # However, to prevent any accidental, unintentional toolhead
    # moves when restoring the state, explicitly set MOVE=0.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.931
#*# pid_ki = 2.124
#*# pid_kd = 317.426
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.396
#*# pid_ki = 1.625
#*# pid_kd = 84.223
#*#
#*# [probe]
#*# z_offset = -1.687
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 85.2
#*# shaper_type_y = ei
#*# shaper_freq_y = 53.8
